<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/explore">Home</a></li>
        <li class="breadcrumb-item"><a href="/profile">My Profile</a></li>
        <li class="breadcrumb-item"><a href="/personalpost">My Posts</a></li>
        <li class="breadcrumb-item"><a href="/editprofile">Edit Profile</a></li>
        <li class="breadcrumb-item"><a href="/users">Find People</a></li>

    </ol>
</nav>

<form class="text-center p-5 col-md-6" style="left: 150px;top:7em" #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
    <h5>Post a thought</h5>
    <input type="hidden" value="" name="email" ngModel="{{user}}" />
    <textarea matInput placeholder="Type something" class="form-control" maxlength="250" rows="6" cols="70" style="width:1000px;height:400px" name="content" ngModel=""></textarea>
    <p></p>
    <button class="btn btn-primary btn-large" block="true" type="submit" mat-raised-button color="primary" style="float:left">Post</button>
</form>