<form class="text-center border p-5 col-md-6 col-offset-md-3 reg" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <!-- <p class="h4 mb-4"> </p> -->
    <div class="card-header"><strong>Sign up to join twit</strong></div>

    <label for="firstName"></label>
    <input type="text" class="form-control" name="firstName" ngModel="" placeholder="FirstName" required />


    <label for="lastName"></label>
    <input type="text" class="form-control" name="lastName" ngModel="" placeholder="LastName" required/>

    <label for="email"></label>
    <input type="email" class="form-control" name="email" ngModel="" placeholder="Email" required/>

    <label for="userName"></label>
    <input type="text" class="form-control" name="userName" ngModel="" placeholder="UserName" required/>

    <label for="password"></label>
    <input type="password" class="form-control" name="password" ngModel="" placeholder="Password" required/>
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
      </small>



    <div class="col">
        <button [disabled]="loading" type="submit" mat-raised-button mat-raised-button color="primary">
       Sign up
      </button> &nbsp;
        <button routerLink="/login" mat-raised-button mat-raised-button color="danger">Log in</button>
    </div>
    <p></p>
    <p>Already on twit?

        <a href="/login" target="_blank" style="color:purple">Login</a></p>


</form>
