<!-- Default form login -->
<form class="text-center border p-5 col-md-6 col-offset-md-3 reg" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <div class="card-header"><strong>Log in</strong></div>

    <p></p>
    <!-- Email -->

    <input type="email" class="form-control mb-4" placeholder="E-mail" ngModel="" name="email" required>


    <!-- Password -->
    <input type="password" class="form-control mb-4" placeholder="Password" ngModel="" name="password" required>


    <div class="col">
        <!-- Sign in button -->
        <button class="btn btn-primary" block="true" type="submit" mat-raised-button color="primary">Log in</button>
        <p> </p>
        <p>Not a member?
            <a href="/register" style="color:purple">Sign up</a>
        </p>
    </div>
    <!-- Register -->



</form>